@{
    ViewBag.Title = "Home Page";
}

@*<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <h2>My Main Body</h2>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>===== End Row ====
</div>*@